<%= form_for(@worker) do |f| %>
  <% if @worker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@worker.errors.count, "error") %> prohibited this worker from being saved:</h2>

      <ul>
      <% @worker.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :imie %><br>
    <%= f.text_field :imie, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :nazwisko %><br>
    <%= f.text_field :nazwisko, class: 'form-control' %>
  </div>
   <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title, class: 'form-control' %>
   </div>
  <div class="field">
    <%= f.label :stanowisko %><br>
    <%= f.text_field :stanowisko, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :pokoj %><br>
    <%= f.number_field :pokoj, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :wydzial %><br>
    <%= f.text_field :wydzial, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :staz_pracy %><br>
    <%= f.number_field :staz_pracy, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :zdjecie %><br>
    <%= f.file_field :zdjecie, class: 'form-control' %>
  </div>
   <div class="field">
      <%= f.label :route %><br>
      <%= f.file_field :route, class: 'form-control' %>
   </div>
  <div class="actions">
    <%= f.submit 'Zatwierdz', class: 'btn btn-success' %>
  </div>
<% end %>
