
<% content_for :title do %>
    <title>PSAM</title>
<% end %>


<div class="container">
  <% lg=0 %>
    <% @workers.each do |worker| %>
      <% if lg%2==0%>
          <div class="row lewa-strona">
                <div class="col-lg-3">
                      <a data-toggle="modal" data-target=<%="#myModal#{lg}"%>>
                            <%= image_tag worker.zdjecie.url(:thumb), class: "img-rounded" %>
                      </a>
                </div>
          </div>

      <% content_for :boot do %>
        <div class="modal fade" id=<%="myModal#{lg}"%> tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel"><%= "#{worker.imie} #{worker.nazwisko}"%></h4>
                    </div>
                    <div class="modal-body">
                      <div class="containter-fluid">
                        <div class="row modalne-opisy">
                          <div class="col-md-12">
                              <table class="table table-striped">
                                <tr>
                                  <td rowspan="6">
                                    <%= image_tag worker.zdjecie.url(:medium) %>
                                  </td>
                                </tr>
                                <tr>
                                  <td>Email:</td>
                                  <td><%=worker.email%></td>
                                </tr>
                                <tr>
                                  <td>Staż pracy:</td>
                                  <td><%=worker.staz_pracy %></td>
                                </tr>
                                <tr>
                                  <td>Stanowisko pracy:</td>
                                  <td><%=worker.stanowisko %></td>
                                </tr>
                                <tr>
                                  <td>Wydział: </td>
                                  <td><%=worker.wydzial %></td>
                                </tr>
                                <tr>
                                  <td>Pokój</td>
                                  <td><%=worker.pokoj%></td>
                                </tr>
                              </table>
                          </div>
                        </div>
                        <div class="row modalna_mapa">
                          <div class="col-lg-12">

                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
      <% end %>


      <%else%>
          <div class="row prawa-strona">
                <div class="col-lg-3">
                    <a data-toggle="modal" data-target=<%="#myModal#{lg}"%>>
                        <%= image_tag worker.zdjecie.url(:thumb), class: "img-rounded" %>
                    </a>
                </div>
          </div>


          <% content_for :modal do %>
              <div id=<%="modal-0#{lg}"%>>
                <!--"THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID-->
                <div  id="btn-close-modal" class=<%="close-modal-0#{lg}"%>>
                  CLOSE MODAL
                </div>

                <div class="modal-content">
                  <p><%= worker.imie %></p>
                  <p><%= worker.nazwisko %></p>
                  <p><%= worker.email %></p>
                  <p> <%= worker.staz_pracy %></p>
                  <p><%=worker.zdjecie%></p>

                </div>
              </div>

          <% end %>

          <% content_for :boot do %>
              <div class="modal fade" id=<%="myModal#{lg}"%> tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel"><%= "#{worker.imie} #{worker.nazwisko}"%></h4>
                    </div>
                    <div class="modal-body">
                        <div class="containter-fluid">
                          <div class="row modalne-opisy">
                            <div class="col-md-12">
                              <table class="table table-striped">
                                <tr>
                                  <td rowspan="6">
                                    <%= image_tag worker.zdjecie.url(:medium) %>
                                  </td>
                                </tr>
                                <tr>
                                  <td>Email:</td>
                                  <td><%=worker.email%></td>
                                </tr>
                                <tr>
                                  <td>Staż pracy:</td>
                                  <td><%=worker.staz_pracy %></td>
                                </tr>
                                <tr>
                                  <td>Stanowisko pracy:</td>
                                  <td><%=worker.stanowisko %></td>
                                </tr>
                                <tr>
                                  <td>Wydział: </td>
                                  <td><%=worker.wydzial %></td>
                                </tr>
                                <tr>
                                  <td>Pokój</td>
                                  <td><%=worker.pokoj%></td>
                                </tr>
                              </table>
                            </div>
                          </div>
                          <div class="row modalna_mapa">
                            <div class="col-lg-12">

                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>

      <%end%>
    <% lg+=1 %>
    <% end %>

</div>


<br>




