<!DOCTYPE html>
<html>
<head>
  <%= yield :title%>

  <%= stylesheet_link_tag "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag "application" %>

  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.4/vendors/jquery.slimscroll.js" %>
  <%= javascript_include_tag "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" %>
  <%= javascript_include_tag "application" %>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>

<body>

<%= form_tag home_path, class: 'locale' do %>
    <%= select_tag 'set_locale',
                   options_for_select(LANGUAGES, I18n.locale.to_s),
                   onchange: 'this.form.submit()'%>
    <%= submit_tag 'submit' %>
    <%= javascript_tag "$('.locale input').hide()" %>
<% end %>


<ul id="menu">
  <li data-menuanchor="firstPage"><a href="#firstPage"><%= t('.film') %></a></li>
  <li data-menuanchor="secondPage"><a href="#secondPage"><%= t('.title') %></a></li>
  <li data-menuanchor="3rdPage"><a href="#3rdPage"><%= t('.workers') %></a></li>
  <li data-menuanchor="4thPage"><a href="#4thPage"><%= t('.cisco')%></a></li>
  <li data-menuanchor="5thPage"><a href="#5thPage"><%= t('.gallery')%></a></li>
  <li data-menuanchor="6thPage"><a href="#6thPage"><%= t('.partners') %></a></li>
</ul>

<div id="fullpage">
  <div class="section" id="filmowa">
    <video autoplay loop muted  id="myVideo">
      <source src=<%= asset_path 'film.mp4' %> type="video/mp4">
    </video>
  </div>

      <div class="section">
            <div class="slide">
                <div class="intro jumbotron">
                      <h1 id="biometric_title"><%=t('.title')%></h1>
                      <p>
                        <%=t('.some') %>
                      </p>

                  <div class="container biometric_images">
                    <div class="row">
                      <div class="col-lg-4"><%= image_tag "us/odcisk.png", height: '125', width: '85', class: 'JumboFinger'%></div>
                      <div class="col-lg-4"><%= image_tag "us/url.png", height: '125', width: '100', class: 'JumboFace'%></div>
                      <div class="col-lg-4"><%= image_tag "us/voice.png", height: '125', width: '100', class: 'JumboZiom'%></div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="slide">

                    <div class="slide-content container">
                      <div class="row image_head">

                        <div class="col-lg-1">
                          <%= image_tag "us/odcisk2.png", height: '125', width: '85', class: 'finger_one'%>
                        </div>

                        <div class="col-lg-10">
                          <h1><%= t('.finger_title') %></h1>
                        </div>

                        <div class="col-lg-1">
                          <%= image_tag "us/odcisk.png", height: '125', width: '85', class: 'finger_two'%>
                        </div>

                      </div>

                      <div class="row partial-head">

                        <div class="col-lg-4 ">
                          <h1><%= t('.finger_title_part_one') %></h1>
                        </div>

                        <div class="col-lg-4 partial-head">
                          <h1><%= t('.finger_title_part_two') %></h1>
                        </div>

                        <div class="col-lg-4 partial-head">
                          <h1><%= t('.finger_title_part_three') %></h1>
                        </div>

                      </div>

                      <div class="row">

                        <div class="col-lg-4 partial-describe">
                          <div class="panel panel-default">
                            <div class="panel-body">
                              <p><%= t('.finger_body_part_one') %></p>
                            </div>
                          </div>
                        </div>

                        <div class="col-lg-4 partial-describe">
                          <div class="panel panel-default">
                            <div class="panel-body">
                              <p><%= t('.finger_body_part_two') %></p>
                            </div>
                          </div>
                        </div>

                        <div class="col-lg-4 partial-describe">
                          <div class="panel panel-default">
                            <div class="panel-body">
                              <p><%= t('.finger_body_part_three') %></p>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
            </div>

            <div class="slide">
              <div class="slide-content container">

                <div class="row image_head">
                  <div class="col-lg-3"></div>

                  <div class="col-lg-2">
                    <%= image_tag "us/url.png", height: '100',width: '100' %>
                  </div>

                  <div class="col-lg-2">
                    <%= image_tag "us/arrow.png", height: '100',width: '200', class:"arrow_image" %>
                  </div>

                  <div class="col-lg-2">
                    <%= image_tag "us/Julia-Angwin-1024x1024.png", height: '100',width: '100' %>
                  </div>

                  <div class="col-lg-3"></div>

                </div>

                <div class="row">
                  <div class="col-lg-12">
                    <h1><%= t('.face_title') %></h1>
                  </div>
                </div>

                <div class="row">

                  <div class="col-lg-4 partial-head">
                   <h1><%= t('.face_title_part_one') %></h1>
                  </div>

                  <div class="col-lg-4 partial-head">
                    <h1><%= t('.face_title_part_two') %></h1>
                  </div>

                  <div class="col-lg-4 partial-head">
                    <h1><%= t('.face_title_part_three') %></h1>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-4 partial-describe">

                    <div class="panel panel-default">
                      <div class="panel-body">
                        <p><%= t('.face_body_part_one')%></p>
                      </div>
                    </div>

                  </div>

                  <div class="col-lg-4 partial-describe">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              <%= t('.face_body_part_two_title_part_one') %>&nbsp;<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </a>
                          </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                          <div class="panel-body">
                            <%= t('.face_body_part_two_body_part_one') %>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                          <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              <%= t('.face_body_part_two_title_part_two') %>&nbsp;<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </a>
                          </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                          <div class="panel-body">
                            <%= t('.face_body_part_two_body_part_two') %>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                          <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              <%= t('.face_body_part_two_title_part_three') %>&nbsp;<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </a>
                          </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                          <div class="panel-body">
                            <%= t('.face_body_part_two_body_part_three') %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-4 partial-describe">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                              <%= t('.face_body_part_three_title_part_one') %>&nbsp;<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </a>
                          </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
                          <div class="panel-body">
                            <%= t('.face_body_part_three_body_part_one') %>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                          <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                              <%= t('.face_body_part_three_title_part_two') %>&nbsp;<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </a>
                          </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                          <div class="panel-body">
                            <%= t('.face_body_part_three_body_part_two') %>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSix">
                          <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                              <%= t('.face_body_part_three_title_part_three') %>&nbsp;<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </a>
                          </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                          <div class="panel-body">
                             <%= t('.face_body_part_three_body_part_three') %>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSeven">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                              <%= t('.face_body_part_three_title_part_four') %>&nbsp;<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </a>
                          </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                          <div class="panel-body">
                            <%= t('.face_body_part_three_body_part_four') %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="slide">
              <div class="slide-content container">

                <div class="row image_head">
                  <div class="col-lg-4"></div>

                  <div class="col-lg-2">
                    <%= image_tag "us/image.png", height: '100',width: '100' %>
                  </div>

                  <div class="col-lg-2">
                    <%= image_tag "us/voice.png", height: '100',width: '100', class: 'voice_image' %>
                  </div>

                  <div class="col-lg-4"></div>

                </div>

                <div class="row">
                  <div class="col-lg-12">
                    <h1><%=t('.voice_title') %></h1>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-4 partial-head">
                    <h1><%=t('.voice_title_part_one') %></h1>
                  </div>

                  <div class="col-lg-8 partial-head">
                    <h1><%=t('.voice_title_part_two') %></h1>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-4 partial-describe">
                    <div class="panel panel-default">
                      <div class="panel-body">
                        <p><%=t('.voice_body_part_one') %></p>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-8 partial-describe li-left">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEight">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
                              <%=t('.voide_body_part_two_title_part_one') %>&nbsp;<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </a>
                          </h4>
                        </div>
                        <div id="collapseEight" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingEight">
                          <div class="panel-body">
                            <ul class="circle-mark">
                              <li><%=t('.voice_body_part_two_body_part_one_text_part_one') %></li><br/>
                              <li><%=t('.voice_body_part_two_body_part_one_text_part_two') %></li><br/>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingNine">
                          <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                              <%=t('.voide_body_part_two_title_part_two') %>&nbsp;<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </a>
                          </h4>
                        </div>
                        <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                          <div class="panel-body">
                            <ul class="circle-mark">
                              <li><%=t('.voice_body_part_two_body_part_two_text_part_one') %></li><br/>
                              <li><%=t('.voice_body_part_two_body_part_two_text_part_two') %></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTen">
                          <h4 class="panel-title">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                              <%=t('.voide_body_part_two_title_part_three') %>&nbsp;<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                            </a>
                          </h4>
                        </div>
                        <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
                          <div class="panel-body">
                            <ul class="circle-mark">
                              <li><%=t('.voice_body_part_two_body_part_three_text_part_one') %></li><br/>
                              <li><%=t('.voice_body_part_two_body_part_three_text_part_two') %></li><br/>
                              <li><%=t('.voice_body_part_two_body_part_three_text_part_three') %></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      </div>

      <div class="section">

        <div class="intro">
          <h1 id="workers_head"><%= t('.workers')%></h1>
        </div>

        <%= yield %>

      </div>

  <div class="section cisco">
    <div class="intro container">
      <div class="row">
        <div class="col-lg-12">
          <h1><%= t('.cisco')%></h1>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <%= image_tag "us/cisco.png", height: '150', width: '300', class: 'cisco_image'%>
        </div>
        <div class="col-lg-8">
          <div class="panel panel-default">
            <div class="panel-body">
              <p id="cisco_body">
                <%= t('.cisco_body') %>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row cisco_contact">
        <div class="col-lg-4">
          <h2><%= t('.cisco_contact')%></h2><br>
          <address>
            <strong><p>Andrzej Mazurek</p></strong><br>
            <p>andrzej.mazurek@us.edu.pl</p><br>
            <abbr title="Phone">Tel:</abbr> (32) 3689735
          </address>
        </div>
        <div class="col-lg-8">
          <h2><%= t('.cisco_training')%></h2>
          <div class="row">
            <div class="col-lg-4">
              <div class="well well-sm">Model OSI </div>
              <div class="well well-sm">Ethernet 10/100/1000/10G  </div>
              <div class="well well-sm">TCP/IP </div>
            </div>
            <div class="col-lg-4">
              <div class="well well-sm">Adresacja IP  </div>
              <div class="well well-sm">Routing i podsieci  </div>
              <div class="well well-sm">Sieci WAN i Routery </div>
            </div>
            <div class="col-lg-4">
              <div class="well well-sm">Cisco Discovery Protocol </div>
              <div class="well well-sm">System IOS </div>
              <div class="well well-sm">Routing statyczny </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>

  <div class="section galeria">
    <div class="intro container">
      <div class="row">
        <div class="col-lg-12">
          <h1><%= t('.gallery')%></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <a href="<%= image_path "us/cisco.png" %>" data-lightbox="image-1" data-title="My caption">
            <%= image_tag "us/cisco.png", height: '135', width: '250', class: 'cisco_image img-rounded'%>
          </a>
        </div>
        <div class="col-lg-3">
          <a href="<%= image_path "us/Instytut-Informatykiii.jpg" %>" data-lightbox="image-1" data-title="My caption">
            <%= image_tag "us/Instytut-Informatykiii.jpg", height: '135', width: '250', class: 'cisco_img img-rounded'%>
          </a>

        </div>
        <div class="col-lg-3">
          <%= image_tag "us/Instytut-Informatykiii.jpg", height: '135', width: '250', class: 'cisco_image img-rounded'%>
        </div>
        <div class="col-lg-3">
          <%= image_tag "us/Instytut-Informatykiii.jpg", height: '135', width: '250', class: 'cisco_image img-rounded'%>
        </div>
        <div class="col-lg-3">
          <%= image_tag "us/Instytut-Informatykiii.jpg", height: '135', width: '250', class: 'cisco_image img-rounded'%>
        </div>
        <div class="col-lg-3">
          <%= image_tag "us/Instytut-Informatykiii.jpg",height: '135', width: '250', class: 'cisco_image img-rounded'%>
        </div>
        <div class="col-lg-3">
          <%= image_tag "us/Instytut-Informatykiii.jpg", height: '135', width: '250', class: 'cisco_image img-rounded'%>
        </div>
        <div class="col-lg-3">
          <%= image_tag "us/Instytut-Informatykiii.jpg", height: '135', width: '250', class: 'cisco_image img-rounded'%>
        </div>
      </div>
    </div>
  </div>

  <div class="section partners">
    <div class="intro container">
      <div class="row">
        <div class="col-lg-12">
          <h1><%= t('.partners')%></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4"><a href="http://mit.us.edu.pl/cms/"><%= image_tag "us/logo2.png", height: 200, width: 200 %></a></div>
        <div class="col-lg-4"><a href="https://www.us.edu.pl/"><%= image_tag "us/lol.jpg", height: 200, width: 300 %></a></div>
        <div class="col-lg-4"><a href="http://www.biometrics.us.edu.pl/"><%= image_tag "us/biometrics logo.gif", height: 200, width: 200 %></a></div>
      </div>
    </div>
  </div>

 </div>
</body>


 <%= yield :boot %>


<script>
    $(document).ready(function() {
        console.log("yes");
        $(".pracownik").on('click',function(){
            alert("klikniete");
        });

        $('#fullpage').fullpage({
            sectionsColor: ['#1bbc9b', '#CC0000', '#808080', '#207AA0','#434D5A', '#FFFFFF'],
            anchors: ['firstPage', 'secondPage', '3rdPage','4thPage','5thPage','6thPage'],
            menu: '#menu',
            autoScrolling: true,
            fitToSection: false,
            afterRender: function(){


                //playing the video
                $('video').get(0).play();
            },
            afterSlideLoad: function(anchorLink, index, slideAnchor, slideIndex){
                var animation = "animated shake";
                var animationStop = "webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend";
                if(index==2 && slideIndex==2){
                    $('.arrow_image').addClass(animation);
                }
                else if(index==2 && slideIndex ==1){
                    $('.finger_one, .finger_two').addClass("animated pulse");
                }
                else if(index==2 && slideIndex ==3){
                    $('.voice_image').addClass('animation tada');
                }
            }

        });
    });
</script>

</html>
